/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-fcolor: #ed6a5a;
  --secondary-fcolor: #003e1f;
  --primary-font: "Alata";
  --secondary-font: "Montserrat";
  --default-font: sans-serif;
}

body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
