/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-fcolor: #ed6a5a;
  --secondary-fcolor: #08090a;
  --primary-font: "Alata";
  --secondary-font: "Montserrat";
  --default-font: sans-serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-repeat: no-repeat;
  height: 100%;
}
